POSTGRES_DB=codestage
SERVER_PORT=9000
CLIENT_PORT=9001
POSTGRES_USER=root
POSTGRES_PASSWORD=your_secure_password_here
VITE_PUBLIC_SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:3001
JWT_SECRET=your_jwt_secret_key_here
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=your_google_client_id
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=your_google_client_secret
SPRING_MAIL_HOST=smtp.resend.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=resend
SPRING_MAIL_PASSWORD=your_email_password_here
EMAIL_FROM=codestage@yourdomain.com
JUDGE0_API_URL=https://ce.judge0.com