<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="messages"></div>
    <input type="text" id="message" />
    <button id="send">Send</button>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
    integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
    integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script>
    const stompClient = Stomp.over(new SockJS("http://localhost:3000/ws"));
    const sessionId = "123";
    stompClient.connect({
        "x-auth-token": "123",
    }, (frame) => {
      console.log("Connected to the server");
      console.log(frame);

      stompClient.subscribe(`/topic/messages/${sessionId}`, (msg) => {
        const body = JSON.parse(msg.body);
        console.log("Received:", body);
      });
    });

    document.getElementById("send").addEventListener("click", () => {
      stompClient.send(
        `/app/${sessionId}`,
        {},
        JSON.stringify({
          data: document.getElementById("message").value,
          type: "JOIN",
          sessionId: sessionId,
        })
      );
    });
  </script>
</html>
